<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Firmas de Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Generador de Firmas de Clientes</h1>
        <form id="pdfForm" method="POST" action="{{ url_for('firmasclientes.upload_file') }}" enctype="multipart/form-data">
            <label for="csv_file">Archivo CSV:</label>
            <input type="file" id="csv_file" name="csv_file" accept=".csv" required>

            <label for="time_period">Período de tiempo:</label>
            <select id="time_period" name="time_period" required>
                <option value="morning">Mañana</option>
                <option value="afternoon">Tarde</option>
            </select>

            <label for="date_option">Tipo de fecha:</label>
            <select id="date_option" name="date_option" required>
                <option value="range">Rango de fechas</option>
                <option value="specific_dates">Fechas específicas</option>
            </select>

            <div id="date_range_fields">
                <label for="start_date">Fecha de inicio:</label>
                <input type="date" id="start_date" name="start_date">

                <label for="end_date">Fecha de fin:</label>
                <input type="date" id="end_date" name="end_date">
            </div>

            <div id="specific_dates_fields" style="display: none;">
                <label>Fechas específicas:</label>
                <div id="specific_dates_container">
                    <input type="date" name="specific_dates[]">
                </div>
                <button type="button" id="add_date">Añadir otra fecha</button>
            </div>

            <button type="submit" id="submitButton">Generar PDFs</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>